@font-face {
  font-family: lolicon;
  src: url(./lolicon.eot?2xqjpg);
  src: url(./lolicon.eot?2xqjpg#iefix) format('embedded-opentype'),
    url(./lolicon.woff2?2xqjpg) format('woff2'),
    url(./lolicon.ttf?2xqjpg) format('truetype'),
    url(./lolicon.woff?2xqjpg) format('woff'),
    url(./lolicon.svg?2xqjpg#lolicon) format('svg');
  font-weight: 400;
  font-style: normal;
  font-display: block
}

[class^=i-],
[class*=" i-"] {
  font-family: lolicon !important;
  speak: none;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}

.i-desktop:before {
  content: "\e93e"
}

.i-phone:before {
  content: "\e93d"
}

.i-pin:before {
  content: "\e936"
}

.i-pin-2:before {
  content: "\e937"
}

.i-pin-1:before {
  content: "\e938"
}

.i-pin-ios:before {
  content: "\e93c"
}

.i-info:before {
  content: "\e933"
}

.i-nopush:before {
  content: "\e907"
}

.i-push:before {
  content: "\e90a"
}

.i-info-ios:before {
  content: "\e935"
}

.i-save:before {
  content: "\e931"
}

.i-draft:before {
  content: "\e932"
}

.i-p:before {
  content: "\e92d"
}

.i-colon:before {
  content: "\e93b"
}

.i-refresh:before {
  content: "\e904"
}

.i-image-search-square:before {
  content: "\e914"
}

.i-image-search-magnify:before {
  content: "\e915"
}

.i-orientation:before {
  content: "\e916"
}

.i-check-all:before {
  content: "\e917"
}

.i-close:before {
  content: "\e918"
}

.i-check:before {
  content: "\e919"
}

.i-check-circle:before {
  content: "\e91a"
}

.i-expand:before {
  content: "\e91b"
}

.i-shrink:before {
  content: "\e91c"
}

.i-arrow-up-bold:before {
  content: "\e91e"
}

.i-arrow-down-bold:before {
  content: "\e91f"
}

.i-menu-up:before {
  content: "\e920"
}

.i-menu-down:before {
  content: "\e921"
}

.i-arrow-up:before {
  content: "\e922"
}

.i-arrow-right:before {
  content: "\e923"
}

.i-arrow-down:before {
  content: "\e928"
}

.i-arrow-left:before {
  content: "\e929"
}

.i-plus:before {
  content: "\e92a"
}

.i-arrow-round-down:before {
  content: "\e92b"
}

.i-arrow-round-right:before {
  content: "\e92e"
}

.i-arrow-round-top:before {
  content: "\e92f"
}

.i-arrow-round-left:before {
  content: "\e930"
}

.i-format-list-checks:before {
  content: "\e909"
}

.i-star:before {
  content: "\e901"
}

.i-star-outline-2:before {
  content: "\e900"
}

.i-star-outline-1:before {
  content: "\e903"
}

.i-star-draft-1:before {
  content: "\e905"
}

.i-star-outline-draft-2:before {
  content: "\e90f"
}

.i-star-outline-draft-1:before {
  content: "\e910"
}

.i-star-original:before {
  content: "\e97d"
}

.i-image-multiple:before {
  content: "\e957"
}

.i-watermark:before {
  content: "\e95a"
}

.i-watermark-outline:before {
  content: "\e95b"
}

.i-sticker:before {
  content: "\e95c"
}

.i-emoticon:before {
  content: "\e95d"
}

.i-cloud-download:before {
  content: "\e95e"
}

.i-plus-box:before {
  content: "\e95f"
}

.i-cloud-upload:before {
  content: "\e960"
}

.i-image-search:before {
  content: "\e961"
}

.i-comment-alert:before {
  content: "\e962"
}

.i-category:before {
  content: "\e963"
}

.i-escalator:before {
  content: "\e964"
}

.i-file-multiple:before {
  content: "\e965"
}

.i-telegram:before {
  content: "\e966"
}

.i-delete-forever:before {
  content: "\e911"
}

.i-delete:before {
  content: "\e967"
}

.i-share:before {
  content: "\e968"
}

.i-eye:before {
  content: "\e97b"
}

.i-eye-off:before {
  content: "\e912"
}

.i-history:before {
  content: "\e979"
}

.i-bell:before {
  content: "\e97a"
}

.i-account:before {
  content: "\e96b"
}

.i-following:before {
  content: "\e978"
}

.i-inbox:before {
  content: "\e96c"
}

.i-reply:before {
  content: "\e980"
}

.i-settings:before {
  content: "\e97c"
}

.i-sort:before {
  content: "\e96d"
}

.i-screen-full:before {
  content: "\e882"
}

.i-screen-normal:before {
  content: "\e883"
}

.i-filter-outline:before {
  content: "\e96f"
}

.i-filter:before {
  content: "\e975"
}

.i-menu:before {
  content: "\e970"
}

.i-magnify:before {
  content: "\e972"
}

.i-thumb-down:before {
  content: "\e97e"
}

.i-thumb-up:before {
  content: "\e97f"
}

.i-hot:before {
  content: "\e981"
}

.i-hot-reply:before {
  content: "\e92c"
}

.i-format-color-fill:before {
  content: "\e983"
}

.i-format-size:before {
  content: "\e984"
}

.i-add-image:before {
  content: "\e985"
}

.i-link:before {
  content: "\e986"
}

.i-format-quote-close:before {
  content: "\e987"
}

.i-format-bold:before {
  content: "\e988"
}

.i-format-italic:before {
  content: "\e989"
}

.i-format-underline:before {
  content: "\e98a"
}

.i-format-strikethrough:before {
  content: "\e98b"
}

.i-format-align-left:before {
  content: "\e98c"
}

.i-format-align-center:before {
  content: "\e98d"
}

.i-format-align-right:before {
  content: "\e98e"
}

.i-code-braces:before {
  content: "\e98f"
}

.i-lock:before {
  content: "\e990"
}

.i-moon:before {
  content: "\e956"
}

.i-rocket:before {
  content: "\e955"
}

.i-facebook-box:before {
  content: "\e952"
}

.i-youtube:before {
  content: "\e953"
}

.i-instagram:before {
  content: "\e924"
}

.i-facebook:before {
  content: "\e925"
}

.i-twitter:before {
  content: "\e90d"
}

.i-whatsapp:before {
  content: "\e90e"
}

.i-apple:before {
  content: "\e927"
}

.i-android:before {
  content: "\e926"
}

.i-censored:before {
  content: "\e015"
}

.i-circle-outline:before {
  content: "\e906"
}

.i-shape-square-plus:before {
  content: "\e902"
}

.i-comment-text:before {
  content: "\e908"
}

.i-watermark-old:before {
  content: "\e90b"
}

.i-crop-landscape:before {
  content: "\e90c"
}

.i-image:before {
  content: "\e913"
}

.i-pencil:before {
  content: "\e934"
}

.i-chat:before {
  content: "\e954"
}

.i-dots-horizontal:before {
  content: "\e939"
}

.i-share-variant:before {
  content: "\e93a"
}

.i-book-open-page-variant:before {
  content: "\e93f"
}

.i-code-tags:before {
  content: "\e949"
}

.i-chevron-down:before {
  content: "\e91d"
}

.i-chevron-right:before {
  content: "\e942"
}

.i-chevron-left:before {
  content: "\e94e"
}

.i-chevron-up:before {
  content: "\e94f"
}